* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cambria;
  }
  body {
    background-color:antiquewhite;
    font-size:18px;
  }
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
  }
  .form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 600px;
    height: 500px;
    box-shadow: 2px 4px 10px gray;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
  }